<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.8">
    <title>User Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
    <!-- <div class="jumbotron text-center" style="background-image: url(static/austin-capitol.jpg); background-size: cover;">
        <h1>Welcome to Texas History!</h1>
        <p>Your go-to guide for all historical markers in the state of Texas</p> 
    </div> -->
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to Texas History!</h1>
            <p>Your go-to guide for all historical markers in the state of Texas!</p> 
            <br><br>
            <div class="container">
                <div class="row">
                  <div class="col-md-8 d-flex justify-content-center">
                    <h5>Already a member?</h5>
                  </div>
                  <div class="col-md-4">
                    <p><a href="/login_form" class="btn btn-info">Login</a></p>
                  </div>
                  <div class="col-md-8 d-flex justify-content-center">
                    <h5>New user?</h5>
                  </div>
                  <div class="col-md-4">
                    <p><a href="/signup_form" class="btn btn-info">Sign Up Now!</a></p>
                  </div>
                </div>
              </div> 
        </div>
    </div>
        
       
<!-- <a href="/signup_form">Sign Up Here</a>
<a href="/login_form">Login Here</a> -->
<!--<a href="/post">Create post</a>
<a href="/dashboard">Dashboard</a>
<a href="/profile">Profile</a> 
<img src="static/capital.jpg" alt="Texas Capital" class="center" width="800" height="400" ><br>-->

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/scripts.js"></script>


</body>
</html>